{# src/KSH/BibeBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}  
        
{% block head %}
    <header>
        {% block title %}<title>BibéAppli</title>{% endblock %}
        <div class="headerwrapper">
            <div class="header-left">
                <a class="logo" href="{{ path('ksh_bibe_index', {}) }}">
                    <img src="{{ asset('bundles/kshbibe/images/logo.png') }}" height="22" alt="Logo"/>                 </a>
                <div class="pull-right">
                    <a href="" class="menu-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                    </div>
            </div><!-- header-left -->
                
             <div class="header-right">
                <div class="pull-right"> 
                    <form class="form form-search" action="search-results.html">
                        <input type="search" class="form-control" placeholder="Search" />
                    </form>

                    <div class="btn-group btn-group-option">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#"><i class="glyphicon glyphicon-user"></i> Mon compte </a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Parametres </a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Aide</a></li>
                            <li class="divider"></li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-log-out"></i> Déconnexion </a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}"><i class="glyphicon glyphicon-log-out"></i> Connexion </a></li>
                            {% endif %}
                        </ul>
                    </div><!-- btn-group -->
                        
                </div><!-- pull-right -->
                    
            </div><!-- header-right -->
                
        </div><!-- headerwrapper -->
        {% block stylesheets %}
            {{ parent() }}
        {% endblock %}
    </header>
{% endblock %}
{% block main %}
<section>
    <div class="mainwrapper">
        <div class="leftpanel">
            {% block menu %}
                <div class="media profile-left">
                    {{ render(controller("KSHUserBundle:User:menu")) }}
                </div>
                    {{ render(controller("KSHBibeBundle:Head:menu")) }}
            {% endblock %}
        </div>
        <div class="mainpanel">
            {% block body %}
                <div class="col-sm-12">
                    {% block footer %}{{ parent() }}, 2015{% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
</section>
{% endblock %}

        



